# **PYTHON BASICS QUESTION**

Q.1 What is python, and why is it popular ?
Ans ->  python is a programing language, which is used for craeting instructions for a computer  to follow.
  It is popular for many reasons there are some following reasons:-
  (i) it is widely used in the industries/ MNC/ corporates.
  (ii) it is easily undersatble.
  (iii) There are lots of libraries in python language.
  (iv) it is also used for automation and iamge processing.

Q.2 what is interpreter in Python ?
  Ans -> An interpreter is a program that reads and execute the codes of Python line by line. It executes the translated instructions and translate the code into a form that computer can understand.

Q.3 What are pre-defined keywords in python ?
  Ans ->  Pre-defined codes are those terms that holds a special meaning in Python and have specific purpose. these terms are used commonly, because these are part of the core Python language and provides important functions for performing common tasks.
  These are some commonly used pre-defined keywords:-
  print(), len(), type(), int(), str(), float() etc.


  Q.4 Can keywords be used as variables names ?
  Ans -> No, it can not be used as variable names in Python because these are pre-defined and have special meanings.

 Q.5 What is mutability in Python ?
  Ans -> There are some objects or container whose state or value can be changed after they are created are known as mutable objects or container. In very simple language we can say those objects which are changeable are called mutable or this function is called mutability.

Q.6 Why are lists mutable, but tuples are immutable ?
 Ans-> Lists are mutable because, it is used to store sequences of items and are designed where the data needs to be modofied.
 on the other hand tuples are immutable because, it is used to store sequences of items where the data is intended to be fixed or read only.

 .7 What is diQffernce between "==" and "is" operators in Python ?
  Ans-> The "==" operator in Python is an  equality operator. It copares the values of two objects and as result it returns True if the values are equal and False otherwise. On the other hand "is" operator is an identity operator. It checks if two variables refer to the same objects in memory and as result it returns True if they point to the same object and False otherwise.

Q.8 What are logical opertors in Python ?
Ans -> Logical operators in Python are used to combine or modify Boolean values.There are three logical operatoprs in Python: and , or,and not.
(i) and : it returns True if both operands are True, otherwise returns False.
(ii) or  : it returns True if at least one of the operand is True, otherwise returns False.
(iii) not : it returns True if the operand is False, and False if the operand is True.

Q.9 What is type casting in Python ?
Ans-> Type casting is a process in Python, which involves changing a variable's data type.this can be done implicitly or explicitly.

Q.10 What is the differnce between  implicit and explicit type casting ?
Ans-> Implicit type casting is automatically done by the Python, it convert a smaller data type to a large one, While explicit type casting is done by manually convert a large data type to a smaller one.

Q.11 What is the purpose of conditional statement in Python ?
Ans-> The purpose of conditional statement in Python is allow us to control the flow of our program's execution by determining which code blocks to run based on some condition.
Conditional statements, like if, elif,and else, allow us to specify which code should be run based on  whether  a condition is met.

Q.12 How does the elif statement work ?
Ans-> The elif statement in Python,  short of "else if" allows for checking multiple conditions line by line . it is used in conjuction with the if and optionally the else statements to create a sequence of conditional checks.

Q.13 What is the differnce between for and while loops ?
Ans-> For loop is ideal for iterating over a sequence(like a list, string,etc) or a known range of numbers.the  number of iterations are predetermined.
while loops used when the number of iterations is not fixed in advance and depends on a condition.The loops continue to execute as long as the condition reamins True.

Q.14 Describe the scenario where a while loop is more suitable than for loop.
Ans-> A while loop is more suitable than for loop when we don't know the number of iteration beforehand, and the loops continue on  a dyanamic condition.

 **PRACTICAL QUESTIONS**

In [ ]:
# Q.1. WRITE A PYTHON PROGRAM TO PRINT "HELLO WORLD!"
print( "Hello world!")

Hello world!

In [ ]:
#Q.2. WRITE A PYTHON PROGRAM THAT DISPLAYS YOUR NAME AND AGE.
name= input("please enter your name: ")
age= int(input("please enter your age: "))
print(f"name : {name}, age : {age}")

please enter your name: Prakash kumar
please enter your age: 27
name : Prakash kumar, age : 27

In [ ]:
#Q.3. WRITE CODE TO PRINT ALL THE PRE-DEFINED KEYWORDS IN PYTHON USING THE KEYWORD LIBRARY.
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#Q.4. WRITE A PROGRAM THAT CHECKS IF A GIVEN WORD IS A PYTHON KEYWORD.
import keyword
a= input("Enter a word:")
if keyword.iskeyword(a):
  print("your entered word is a keyword in Python")
else:
  print("your entered word is not a keyword in Python")

Enter a word:True
your entered word is a keyword in Python

In [ ]:
#Q.5. CREATE A LIST AND TUPLE IN PYTHON, AND DEMONSTRATE HOW ATTEMPTING TO CHANGE AN ELEMENT WORKS DIFFERENTLY FOR EACH .
# changes in list element
list_cont= [1, 2, 3.4, "nihal", True, "sonu"]
list_cont

[1, 2, 3.4, 'nihal', True, 'sonu']

In [ ]:
list_cont[3]

'nihal'

In [ ]:
list_cont[3]="Prakash"

In [ ]:
list_cont

[1, 2, 3.4, 'Prakash', True, 'sonu']

In [ ]:
my_tuple=(1, 2, 3.4, "nihal", True, "sonu")
my_tuple

(1, 2, 3.4, 'nihal', True, 'sonu')

In [ ]:
my_tuple[3]

'nihal'

In [ ]:
my_tuple[3]= "Prakash"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q.6.WRITE A FUNCTION TO DEMONSTRATE THE BEHAVIOUR OF MUTABLE AND IMMUTABLE ARGUMENTS .
# MUTABLE ARGUMENTS
list_cont=[1, 2, 3.4, "nihal"]
list_cont

[1, 2, 3.4, 'nihal']

In [ ]:
list_cont[0]=10

In [ ]:
list_cont

[10, 2, 3.4, 'nihal']

In [ ]:
#IMMUTABLE ARGUMENTS
a= "hello world"
a

'hello world'

In [ ]:
a[0]=H

NameError: name 'H' is not defined

In [ ]:
#Q.7.WRITE A PROGRAM THAT PERFORMS BASIC ARITHMETIC OPERATIONS ON TWO USER-INPUT NUMBERS.
a=5
b=3
a**b

125

In [ ]:
a=9
b=2
a//b

4

In [ ]:
#Q.8. WRITE A PROGRAM TO DEMONSRATE THE USE OF LOGICAL OPERATORS.
# AND OPERATORS
a=True
b=False
a and b

False

In [ ]:
a= True
b= True
a and b

True

In [ ]:
a= False
b= False
a and b

False

In [ ]:
a= False
b=True
a and b

False

In [ ]:
# OR OPERTAORS
a= True
b= True
a or b

True

In [ ]:
a= True
b= False
a or b

True

In [ ]:
a = False
b= False
a or b

False

In [ ]:
a= False
b= True
a or b

True

In [ ]:
# NOT OPERATOR
Z = True
not Z

False

In [ ]:
#Checking Age Eligibility:
age= 25
if age >= 18:
  print("you are eligible to vote")
else:
  print("you are not elegible for vote")

you are eligible to vote

In [ ]:
#Q.9.WRITE A PYTHON PROGRAM TO CONVERT USER INPUT FROM STRING, FLOAT, BOOLEAN TYPES.
a= 12
type(a)

int

In [ ]:
b=float(a)
print(b)

12.0

In [ ]:
type(b)

float

In [ ]:
c="12"
type(c)

str

In [ ]:
d=int(c)
print(d)

12

In [ ]:
type(d)

int

In [ ]:
a is d

True

In [ ]:
bool(d)

True

In [3]:
#Q.10.WRITE CODE TO DEMONSTRATE TTYPE CASTING WITH LIST ELEMENTS.
# IMPLICIT TYPE CASTING
x=10
y=2.5
z=x+y
print(z)
# Here the value of x is an int value and the value of y is float value but Python implicitly (automatically) done the sum

12.5

In [4]:
type(z)

float

In [5]:
# EXPLICIT TYPE CASTING
#INTEGER TO FLOT
number = 10
num_float=float(number)
print(num_float)

10.0

In [6]:
print(type(num_float))

<class 'float'>

In [7]:
# FLOAT TO INTEGER
num_float=4.6
number=int(num_float)
print(number)

4

In [8]:
print(type(number))

<class 'int'>

In [9]:
# INTEGER TO STRING
number=27
num_str=str(number)
print(num_str)

27

In [10]:
print(type(num_str))

<class 'str'>

In [13]:
#Q.11.WRITE A PROGRAM THAT CHECKS IF A NUMBER IS POSITIVE, NEGATIVE, OR ZERO.
num= float(input(" Please Enter a number:"))
if num> 0:
  print("number is positive")
elif num == 0:
  print("Number is equal to zero")
else:
  print("Number is negative")

 Please Enter a number:-4
Number is negative

In [14]:
#Q.12. WRITE A FOR LOOP TO PRINT NUMBERS FROM 1 TO 10.
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#Q.13. WRITE A PYTHON PROGRAM TO FIND THE SUM OF ALL EVEN NUMBERS BETWEEN 1 AND 50.
even_sum=0
for i in range(0,50,2):
  even_sum=even_sum+i

print(f"The sum if all the even number upto 50 is {even_sum}")

The sum if all the even number upto 50 is 600

In [22]:
#Q.14. WRITE A PROGRAM TO REVERSE A STRING USING A WHILE LOOP.
str1=input("Plese enter any word:")
str2=""
for i in str1:
  str2 = i+str2
  print("original=", str1)
  print("after=",str2)

Plese enter any word:nihal
original= nihal
after= n
original= nihal
after= in
original= nihal
after= hin
original= nihal
after= ahin
original= nihal
after= lahin

In [29]:
#Q.15.WRITE A PYTHON PROGRAM TO CALCULATE THE FACTORIAL OF A NUMBER PROVIDED BY THE USING A WHILE LOOP.
number = 4
factorial = 1
i = 1
while i <= number:
  factorial = factorial * i
  i = i +1
print(factorial)

24